<%= fields_for @t_rol do |form| %>
  <div class="form-group row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :nombre, 'Nombre', class: "text-right" %>
    </div>
    <div class="col-sm-4 input-value">
      <% if editable %>
        <%= form.text_field :nombre, autofocus: true, class: "form-control" %>
      <% else %>
        <%= @t_rol.nombre %>
      <% end %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.label :estatus, 'Estatus', class: "text-right" %>
    </div>
    <div class="col-sm-4 input-value">
      <% if editable %>
        <%= form.select :estatus, opciones_de_estatus(false), {}, { :class => 'form-control m-b' } %>
      <% else %>
        <%= estatus_text @t_rol.estatus %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :descripcion, 'Descripción', class: "text-right opcional" %>
    </div>
    <div class="col-sm-10 input-value">
      <% if editable %>
        <%= form.text_area :descripcion, class: 'form-control' %>
      <% else %>
        <%= @t_rol.descripcion ? @t_rol.descripcion : 'Sin determinar' %>
      <% end %>
    </div>
  </div>
<% end %>