<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
  	<div class="col-lg-6">
    	<div class="ibox ">
      	<div class="ibox-title">
        	<h5>Edición de Rol</h5>
        </div>
        <div class="ibox-content">
					<%= form_for(:rol, :url => {:action => 'update', :id => @rol.id}) do |f| %>
						<div class="row">
							<!---- Seccion de la izquierda --->
							<div class="col-12">
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Nombre</label>
									<div class="col-sm-10">
										<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										 <%= f.text_field(:nombre, class: "form-control", disabled: true) %>
										<% else %>
											<%= f.text_field(:nombre, class: "form-control") %>
										<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Descripción</label>
									<div class="col-sm-10">
									<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										<%= f.text_area :descripcion, class: "form-control", disabled:true %>
									<% else %>
										<%= f.text_area :descripcion, class: "form-control" %>
									<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Peso</label>
									<div class="col-sm-10">
									<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										<%= f.number_field :peso, class: "form-control", disabled:true %>
									<% else %>
										<%= f.number_field :peso, class: "form-control"%>
									<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Estatus</label>
									<div class="col-sm-10">
										<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
											<%= text_field_tag :status, @rol.estatus == 1 ? "Ativo":"Inactivo", class: "form-control", disabled: true %>
										<% else %>
											<%= select_tag :is_active, options_for_select([ "Seleccione un estatus", "Activo", "Inactivo" ], ["0","1", "2"]), class: "form-control" %>
										<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Acciones</label>
									<div class="col-sm-10">
										<select id="optionrol" multiple class="form-control" size="12">
											 <%= @elementos.each do |elemento| %>
											 	<option value="<%= elemento.nombre << "-" << elemento.modelo %>" onclick="selectd()"><%= elemento.nombre%></option>
											 <% end %>
											 <%= text_field_tag :actions_by_rol, "",class: "form-control", disabled: true, id:"actionroleselecte", hidden: true %>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 col-sm-offset-2">
								<%= submit_tag("Guardar Cambios", :class => "btn btn-primary col-12") %>
							</div><br><br>
							<div class="col-sm-6 col-sm-offset-2">
								<%= link_to 'Atrás',rols_index_path, {:class =>"btn btn-white btn-sm col-12"} %>
							</div>
						</div>
					<% end %>
        </div>
      </div>
    </div>
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Acciones que puede ejecutar el rol actual</h5>
				</div>
				<div class="ibox-content">
					<p class="text-justify">
						<b>Importante!</b><br>
						Las acciones seleccionadas serán asignadas de manera predeterminada en solo lectura, luego usted podrá ampliar el alcance de los permisos indicados sobre el rol de usuario actual.
					</p>
					<textarea id="actionslected" name="name" rows="21" cols="60" class="form-control" disabled></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="">
	<p id="actionroleselecte"></p>
</div>-->

<script type="text/javascript">
	function selectd (){
		var elecciones = String($("#optionrol").val()).split(",");
		var valor = "";
		var backEnd = "";
		for (x=0; x< elecciones.length; x++){
				valor = valor + elecciones[x].split("-")[0] + "\n" ;
				backEnd = backEnd + elecciones[x].split("-")[1] +"#";
			}

		document.getElementById("actionslected").innerHTML = valor;
		document.getElementById("actionroleselecte").innerHTML = backEnd;
	}
 </script>
