<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
  	<div class="col-lg-6">
    	<div class="ibox ">
      	<div class="ibox-title">
        	<h5>Edición de Rol</h5>
        </div>
        <div class="ibox-content">
					<%= form_for(:rol, :url => {:action => 'update', :id => @rol.id}) do |f| %>
						<div class="row">
							<!---- Seccion de la izquierda --->
							<div class="col-12">
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Nombre</label>
									<div class="col-sm-10">
										<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										 <%= f.text_field(:nombre, class: "form-control", disabled: true) %>
										<% else %>
											<%= f.text_field(:nombre, class: "form-control") %>
										<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Descripción</label>
									<div class="col-sm-10">
									<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										<%= f.text_area :descripcion, class: "form-control", disabled:true %>
									<% else %>
										<%= f.text_area :descripcion, class: "form-control" %>
									<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Peso</label>
									<div class="col-sm-10">
									<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
										<%= f.number_field :peso, class: "form-control", disabled:true %>
									<% else %>
										<%= f.number_field :peso, class: "form-control"%>
									<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Estatus</label>
									<div class="col-sm-10">
										<% if @rol.nombre == "SuperAdmin" || @rol.nombre == "AdminCxC" %>
											<%= text_field_tag :status, @rol.estatus == 1 ? "Ativo":"Inactivo", class: "form-control", disabled: true %>
										<% else %>
											<%= select_tag :is_active, options_for_select([ "Seleccione un estatus", "Activo", "Inactivo" ], ["0","1", "2"]), class: "form-control" %>
										<% end %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Acciones</label>
									<div class="col-sm-10">
										<select id="optionrol" multiple class="form-control" size="12">
											 <%= @elementos.each do |elemento| %>
											 	<option value="<%= elemento.nombre << "-" << elemento.modelo %>" onclick="selectd()"><%= elemento.nombre%></option>
											 <% end %>
											 <%#= text_field_tag :actions_by_rol, "", class: "form-control", id: "actionroleselecte", hidden:true %>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 col-sm-offset-2">
								<%= submit_tag("Guardar Cambios", :class => "btn btn-primary col-12") %>
							</div><br><br>
							<div class="col-sm-6 col-sm-offset-2">
								<%= link_to 'Atrás',rols_index_path, {:class =>"btn btn-white btn-sm col-12"} %>
							</div>
						</div>
					<% end %>
        </div>
      </div>
    </div>
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Acciones que puede ejecutar el rol actual</h5>
				</div>
				<div class="ibox-content">
					<p class="text-justify">
						<!--<b>Importante!</b><br>
						Las acciones seleccionadas serán asignadas de manera predeterminada con permiso de solo lectura, luego usted podrá ampliar el alcance de los permisos indicados sobre el rol de usuario actual.
					</p>-->
					<!--<textarea id="actionslected" name="name" rows="21" cols="60" class="form-control" disabled></textarea>
						-->
						<table id ="actionslected" class="table table-striped table-bordered table-hover"></table>
						<p>Indico todos los permisos del rol?<input name="checks[]" type="checkbox" value="0" /></p>
						<div id="associate">
							<button  id="buttonaction" onclick="myFunction()" class="btn btn-success"disabled >Asignar Permisos</button>
							<!--<div >Ids seleccionados en matriz <span id="arr"></span></div>
  						<div >Ids seleccionados <span id="str"></span></div>-->
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ainacion de permisos con checkbox -->
<script type="text/javascript">
$(document).ready(function() {

  $('[name="checks[]"]').click(function() {

    var arr = $('[name="checks[]"]:checked').map(function(){
      return this.value;
    }).get();

    var str = arr.join(',');

    $('#arr').text(JSON.stringify(arr));

    $('#str').text(str);

    //document.getElementById("seleccion").innerHTML = str;

    document.getElementById("associate").innerHTML ='<button id="buttonaction" onclick="myFunction()"  class="btn btn-success" >Asignar Permisos</button>';

  });

});
</script>
<!-- -->

<!-- Uso del multiselect -->
<script type="text/javascript">
	function selectd (){
		var elecciones = String($("#optionrol").val()).split(",");
		var valor = "";
		//var backEnd = "";
		var backEnd = "<tr>" +
								   "<th>Tarea Posible</th>" +
								   "<th><center>LE</center></th>" +
								   "<th><center>ES</center></th>" +
								   "<th><center>ED</center></th>" +
								   "<th><center>AD</center></th>" +
								"</tr><tr>";

		$('option').mousedown(function(e) {
		   e.preventDefault();
		   var originalScrollTop = $(this).parent().scrollTop();
		   console.log(originalScrollTop);
		   $(this).prop('selected', $(this).prop('selected') ? false : true);
		   var self = this;
		   $(this).parent().focus();
		   setTimeout(function() {
		       $(self).parent().scrollTop(originalScrollTop);
		   }, 0);

		   return false;
		});

		for (x=0; x< elecciones.length; x++){
				valor = valor + elecciones[x].split("-")[0] + "\n" ;
				//backEnd = backEnd + elecciones[x].split("-")[1] +"#";
				backEnd = backEnd + '<td>'+ elecciones[x].split("-")[0] +'</td>' +
					'<td><center><input name="checks[]" type="checkbox" value="'+ elecciones[x].split("-")[1] +'-READ" disabled checked/></center></td>' +
					'<td><center><input name="checks[]" type="checkbox" value="'+ elecciones[x].split("-")[1] +'-WRITE" /></center></td>' +
					'<td><center><input name="checks[]" type="checkbox" value="'+ elecciones[x].split("-")[1] +'-EDIT" /></center></td>' +
					'<td><center><input name="checks[]" type="checkbox" value="'+ elecciones[x].split("-")[1] +'-ADMIN" /></center></td></tr>';
			}
		//document.getElementById("actionslected").innerHTML = valor;
		document.getElementById("actionslected").innerHTML = backEnd;
		//$("#actionroleselecte").val(backEnd);
	}
 </script>
