<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
  	<div class="col-lg-6">
    	<div class="ibox ">
      	<div class="ibox-title">
        	<h5>Edición de Rol</h5>
        </div>
        <div class="ibox-content">
					<%= form_for(:rol, :url => {:action => 'update', :id => @rol.id}) do |f| %>
						<div class="row">
							<div class="col-12">
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Nombre</label>
									<div class="col-sm-10">
										 <%= f.text_field(:nombre, class: "form-control") %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Descripción</label>
									<div class="col-sm-10">
										<%= f.text_field(:descripcion, class: "form-control") %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Peso</label>
									<div class="col-sm-10">
										<%= f.number_field :peso, class: "form-control" %>
									</div>
								</div>
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Estatus</label>
									<div class="col-sm-10">
										<%= select_tag :is_active, options_for_select([ "Seleccione un estatus", "Activo", "Inactivo" ], ["0","1", "2"]), class: "form-control" %>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 col-sm-offset-2">
								<%= submit_tag("Guardar Cambios", :class => "btn btn-white col-12 float-right") %>
							</div><br><br>
							<div class="col-sm-6 col-sm-offset-2">
								<%= link_to 'Atrás',rols_index_path, {:class =>"btn btn-primary btn-sm col-12"} %>
							</div>
						</div>
					<% end %>
        </div>
      </div>
    </div>
	</div>
</div>
