<%= form_for @t_rol do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Rol <%= @t_rol.nombre %></h4>
          <div class="row justify-content-md-center">
            <%= f.fields_for :t_modulo_rols do |mr_form| %>
              <div class="col-md-3">
                <%= module_name = mr_form.object.t_modulo.nombre %>

                <% options = object_options(TPermiso, 'nombre') %>

                <% options.reject! { |n, _| n == 'generate_pdf' || n == 'send_email' } unless module_name == 'TFactura' %>
                <% options.reject! { |n, _| n == 'generate_receipt' } unless module_name == 'TRecibo' %>

                <% options.reject! { |n, _| n == 'read_reports' } unless module_name == 'TRecibo' || module_name == 'TCliente' || module_name == 'TTipoCliente' || module_name == 'TTarifaServicio' || module_name == 'TFactura' %>

                <%= mr_form.select :t_permiso_ids, options, {}, { class: 'form-control m-b', multiple: true } %>
                <% mr_form.object.t_modulo.nombre == 'TFactura' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col s6 offset-s3">
      <%= render "shared/action_buttons",
        list_route: t_rols_path, list_text: "Roles de Usuario",
        back_route: polymorphic_path(@t_rol), back_text: "Cancelar",
        save_form: true, save_text: "Guardar",
        button_size: "xs" %>
    </div>
  </div>
<% end %>
