<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5><%= yield(:texto_boton) %></h5>
        </div>
        <div class="ibox-content">
          <%= form_for @t_tarifa do |f| %>
            <fieldset <%= @is_show ? 'disabled="disabled"' : '' %>>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row justify-content-md-center">
                    <%= f.label :nombre, class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.text_field :nombre, class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row justify-content-md-center">
                    <%= f.label :descripcion, 'Descripción', class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.text_field :descripcion, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row justify-content-md-center">
                    <%= f.label :rango_monto, 'Rango del monto', class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.number_field :rango_monto, step: 0.01, class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row justify-content-md-center">
                    <%= f.label :recargo, class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.number_field :recargo, step: 0.01, class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row justify-content-md-center">
                    <%= f.label :estatus, class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%#= f.text_field :estatus, class: "form-control" %>
                      <%= f.select :estatus, opciones_de_estatus(false), {}, { :class => 'form-control m-b' } %>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <%= render 'shared/form_buttons', f: f, object: @t_tarifa %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
