<h1>Tarifa</h1>

<h3>Nombre</h3>
<p><%= @t_tarifa.nombre %></p>

<h3>Descripción</h3>
<p><%= @t_tarifa.descripcion %></p>

<h3>Rango del monto</h3>
<p><%= @t_tarifa.rango_monto %></p>

<h3>Recargo</h3>
<p><%= @t_tarifa.recargo %></p>

<h3>Estatus</h3>
<p><%= @t_tarifa.estatus %></p>
