<%= fields_for registro do |form| %>
<div class="form-group row">
  <div class="col-sm-2 col-form-label">
    <%= form.label :descripcion, 'Descripción', class: "text-right" %>
  </div>
  <div class="col-sm-10 input-value">
    <% if editable %>
    <%= form.text_area :descripcion, autofocus: true, autocomplete: "descripcion", class: "form-control" %>
    <% else %>
    <%= registro.descripcion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-2 col-form-label">
    <%= form.label :estatus, 'Estatus', class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.select :estatus, opciones_de_estatus(false), {}, { :class => 'form-control m-b' } %>
    <% else %>
    <%= estatus_text registro.estatus %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label vertical-align">
    <%= form.label :tasa, 'Tasa', class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.number_field :tasa, autofocus: true, autocomplete: "tasa", class: "form-control" %>
    <% else %>
    <%= registro.tasa %>
    <% end %>
  </div>
</div>
<% end %>