<%= form_with(model: t_estatus, local: true) do |form| %>
  <% if t_estatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(t_estatus.errors.count, "error") %> prohibited this t_estatus from being saved:</h2>

      <ul>
      <% t_estatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estatus %>
    <%= form.number_field :estatus %>
  </div>

  <div class="field">
    <%= form.label :para %>
    <%= form.number_field :para %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
