<%= form_for @t_leyenda do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label "Año" %>
        <%= f.number_field :anio, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label "Descripciòn" %>
        <%= f.text_field :descripcion, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label "Estatus" %>
        <%= f.number_field :estatus, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row" align="right">
    <div class="col-sm-12">
      <%= f.submit yield(:texto_boton), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
