<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5><%= yield(:texto_boton) %></h5>
        </div>
        <div class="ibox-content">
          <%= form_for @t_leyenda do |f| %>
            <fieldset <%= @is_show ? 'disabled="disabled"' : '' %>>
              <div class="row justify-content-sm-center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <%= f.label :anio, 'Año', class: "col-sm-2 col-form-label" %>
                    <div class="col-sm-10">
                      <%= f.number_field :anio, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <%= f.label :descripcion, "Descripción", class: "col-sm-2 col-form-label" %>
                    <div class="col-sm-10">
                      <%= f.text_field :descripcion, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <%= f.label :estatus, class: "col-sm-2 col-form-label" %>
                    <div class="col-sm-10">
                      <%= f.select :estatus, opciones_de_estatus(false), {}, { class: 'form-control m-b' } %>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <%#= render 'shared/form_buttons', f: f, object: @t_leyenda %>
            <% if controller.action_name != 'edit' %>
              <%= render "shared/action_buttons",
                list_route: t_leyendas_path, list_text: "Leyendas de Factura",
                back_route: polymorphic_path(@t_leyenda), back_text: "Cancelar",
                save_form: true, save_text: "Guardar",
                button_size: "xs"
              %>
            <% else %>
              <%= render "shared/action_buttons",
                list_route: t_leyendas_path, list_text: "Leyendas de Factura",
                edit_route: edit_polymorphic_path(@t_leyenda), edit_text: "Editar",
                delete_route: polymorphic_path(@t_leyenda), delete_text: "Borrar",
                button_size: "xs"
              %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
