<h1 align="center">Leyendas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Anio</th>
      <th>Descripción</th>
      <th>Estatus</th>
      <th><%= link_to 'Crear', new_t_leyenda_path, class: 'btn btn-info btn-xs' %></th>
    </tr>
  </thead>
  <tbody>
    <% @t_leyendas.each do |t_leyenda| %>
      <tr>
        <td><%= t_leyenda.anio %></td>
        <td><%= t_leyenda.descripcion %></td>
        <td><%= t_leyenda.estatus %></td>
        <td><%= link_to 'editar', edit_t_leyenda_path(t_leyenda), class: 'btn btn-warning btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
