<div class="ibox-content">
  <%= form_with(model: registro, local: true) do |form| %>
  <% if registro.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</p>
    <ul>
      <% registro.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :codigo, 'Código', class: "col-sm-2 col-form-label text-right" %>
    <div class="col-sm-4 input-value">
      <% if editable %>
      <%= form.text_field :codigo, autofocus: true, autocomplete: "codigo", class: "form-control" %>
      <% else %>
      <%= registro.codigo %>
      <% end %>
    </div>
    <%= form.label :tipo, 'Tipo', class: "col-sm-2 col-form-label text-right" %>
    <div class="col-sm-4 input-value">
      <% if editable %>
      <%= form.text_field :tipo, autofocus: true, autocomplete: "tipo", class: "form-control" %>
      <% else %>
      <%= registro.tipo %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :descripcion, 'Descripción', class: "col-sm-2 col-form-label text-right" %>
    <div class="col-sm-10 input-value">
      <% if editable %>
      <%= form.text_area :descripcion, autofocus: true, autocomplete: "descripcion", class: "form-control" %>
      <% else %>
      <%= registro.descripcion %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :estatus, 'Estatus', class: "col-sm-2 col-form-label text-right" %>
    <div class="col-sm-4 input-value">
      <% if editable %>
      <%= form.select :estatus, opciones_de_estatus(false), {}, { :class => 'form-control m-b' } %>
      <% else %>
      <%= estatus_text registro.estatus %>
      <% end %>
    </div>
    <%= form.label :t_tarifa_id, 'Tarifa', class: "col-sm-2 col-form-label text-right" %>
    <div class="col-sm-4 input-value">
      <% if editable %>
      <%= form.select :t_tarifa_id, opciones_de_tarifas, {}, { :class => 'form-control m-b' } %>
      <% else %>
      <%= registro.t_tarifa.nombre %>
      <% end %>
    </div>
  </div>
  <div class="form-group row center-content">
    <div class="col-sm-4 col-offset-sm-2">
      <%= link_to 'Volver', return_to	, {:class =>"btn btn-white btn-sm col-12"} %>
    </div>
    <% if editable %>
    <div class="col-sm-4">
      <%= form.submit 'Guardar', :class => "btn btn-primary btn-sm col-12" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>