<%= form_for @t_periodo do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :descripcion %>
        <%= f.text_field :descripcion, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :rango_dias %>
        <%= f.number_field :rango_dias, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :dia_tope %>
        <%= f.number_field :dia_tope, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :mes_tope %>
        <%= f.number_field :mes_tope, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :mes_tope_desc %>
        <%= f.text_field :mes_tope_desc, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :estatus %>
        <%= f.number_field :estatus, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row" align="right">
    <div class="col-sm-12">
      <%= f.submit yield(:texto_boton), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
