<h1>Periodo</h1>

<h3>Descripción</h3>
<p><%= @t_periodo.descripcion %></p>

<h3>Rango de días</h3>
<p><%= @t_periodo.rango_dias %></p>

<h3>Día tope</h3>
<p><%= @t_periodo.dia_tope %></p>

<h3>Mes tope</h3>
<p><%= @t_periodo.mes_tope %></p>

<h3>Descripción del mes tope</h3>
<p><%= @t_periodo.mes_tope_desc %></p>

<h3>Estatus</h3>
<p><%= @t_periodo.estatus %></p>
