<%
  persona = TEmpresa.new
  if registro != nil && registro.is_a?(TEmpresa)
    persona = registro
  end

  instance = self
  if defined?(embed)
    instance = embed
  end
%>
<%= instance.fields_for persona do |form| %>

<div class="form-group row">
  <div class="col-sm-2 col-form-label">
    <%= form.label :rif, "RIF ó RUC", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.text_field :rif, autofocus: true, autocomplete: "rif", class: "form-control" %>
    <% else %>
    <%= persona.rif %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= form.label :dv, 'Dígito Verificador', class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.text_field :dv, autofocus: true, autocomplete: "dv", class: "form-control", maxlength: 4 %>
    <% else %>
    <%= persona.dv %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= form.label :t_empresa_tipo_valor_id, "Tipo Valor", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">    
    <% if editable %>
    <%= form.select :t_empresa_tipo_valor_id, opciones_de_tipos_de_valor_para_empresas , {}, { :class => 'form-control m-b' } %>
    <% else %>
    <%= persona.t_empresa_tipo_valor != nil ? persona.t_empresa_tipo_valor.descripcion : "Ninguno" %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%= form.label :razon_social, "Razón Social", class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if editable %>
    <%= form.text_field :razon_social, autofocus: true, autocomplete: "razon_social", class: "form-control" %>
    <% else %>
    <%= persona.razon_social %>
    <% end %>
  </div>
</div>
<!-- <div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%#= form.label :t_empresa_sector_economico_id, "Sector Económico", class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <%# if editable %>
    <%#= form.select :t_empresa_sector_economico_id, opciones_de_sectores_economicos_para_empresas , {}, { :class => 'form-control m-b' } %>
    <%# else %>
    <%#= persona.t_empresa_sector_economico != nil ? persona.t_empresa_sector_economico.descripcion : "Ninguno" %>
    <%# end %>
  </div>
</div> -->
<div class="form-group row opcional-prospectos">
  <div class="col-sm-3 col-form-label">
    <%= form.label :direccion_empresa, "Dirección", class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if editable %>
    <%= form.text_field :direccion_empresa, autofocus: true, autocomplete: "direccion_empresa", class: "form-control" %>
    <% else %>
    <%= persona.direccion_empresa %>
    <% end %>
  </div>
</div>
<div class="form-group row opcional">
  <div class="col-sm-2 col-form-label">
    <%= form.label :telefono, "Teléfono", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.text_field :telefono, autofocus: true, autocomplete: "telefono", class: "form-control" %>
    <% else %>
    <%= persona.telefono %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= form.label :email, "Email", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value opcional">
    <% if editable %>
    <%= form.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <% else %>
    <%= persona.email %>
    <% end %>
  </div>
</div>
<!-- <div class="form-group row">
  <div class="col-sm-2 col-form-label">
    <%#= form.label :fax, "Fax", class: "opcional text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <%# if editable %>
    <%#= form.text_field :fax, autofocus: true, autocomplete: "fax", class: "form-control" %>
    <%# else %>
    <%#= persona.fax %>
    <%# end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%#= form.label :web, "Web", class: "opcional text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <%# if editable %>
    <%#= form.text_field :web, autofocus: true, autocomplete: "web", class: "form-control" %>
    <%# else %>
    <%#= persona.web %>
    <%# end %>
  </div>
</div> -->
<% end %>