<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="row">
            <div class="col-8">
              <h5>Empresas</h5>
            </div>
            <div class="col-4">
              <%= link_to 'Añadir empresa', new_t_empresa_path, class: "btn btn-primary float-right" %>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <% if @registros != nil && @registros.count > 0 %>
          <div class="table-responsive">
            <div class="col-12">
              <p class="text-info">Puedes hacer "click" en cualquier fila para ver el detalle del registro.</p>
            </div>
            <table class="table table-striped table-bordered table-hover dataTables clickable">
              <thead>
                <tr>
                  <th>Rif</th>
                  <th>Razón social</th>
                  <th>Tipo valor</th>
                  <th>Sector económico</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <% @registros.each do |registro| %>
                <tr data-link="<%= polymorphic_url(registro) %>">
                  <td><%= registro.rif %></td>
                  <td><%= registro.razon_social %></td>
                  <td><%= registro.t_empresa_tipo_valor.descripcion %></td>
                  <td><%= registro.t_empresa_sector_economico.descripcion %></td>
                  <td><%= registro.telefono %></td>
                  <td><%= registro.email %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <% else %>
          <div>
            <p>No se encontraron registros.</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>