<%
  bloquear_cliente = registro.t_cliente != nil
%>
<%= fields_for registro do |form| %>
<div class="form-group row">
  <!-- <div class="col-sm-2 col-form-label">
    <%= form.label :codigo, "C처digo", class: "text-right" %>
  </div>
  <div class="col-sm-3 input-value">
    <% if editable %>
    <%= form.text_field :codigo, autofocus: true, autocomplete: "codigo", class: "form-control" %>
    <% else %>
    <%= registro.codigo %>
    <% end %>
  </div> -->
  <div class="col-sm-2 col-form-label">
    <%= form.label :resolucion_codigo, 'Resoluci처n', class: "text-right" %>
  </div>
  <div class="col-sm-5 input-value">
    <% if defined?(editable) && editable %>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">SMV</span>
      </div>
      <%= form.text_field :resolucion_codigo, autofocus: true, class: "form-control", placeholder: "Ej. 00120M", maxlength: 6 %>
      <div class="input-group-append">
        <%= form.select :resolucion_anio, opciones_de_anios_para_resolucion , {}, { :class => 'input-group-text form-control m-b' } %>
      </div>
    </div>
    <% else %>
    <%= registro.resolucion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-2 col-form-label">
    <%= form.label :num_licencia, "N째 Licencia", class: "text-right" %>
  </div>
  <div class="col-sm-3 input-value">
    <% if editable %>
    <%= form.text_field :num_licencia, autofocus: true, autocomplete: "num_licencia", class: "form-control" %>
    <% else %>
    <%= registro.num_licencia %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= form.label :t_estatus_id, 'Estatus', class: "text-right" %>
  </div>
  <div class="col-sm-3 input-value">
    <% if defined?(editable) && editable %>
    <%= form.select :t_estatus_id, opciones_de_estatus(true, 3, true) , {}, { :class => 'form-control m-b' } %>
    <% else %>
    <%= registro.t_estatus.descripcion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%= form.label :t_tipo_cliente_id, 'Tipo de Cliente', class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if editable %>
    <%= form.select :t_tipo_cliente_id, opciones_de_tipos_de_clientes(registro.t_cliente == nil ? nil : registro.t_cliente.tipo_persona_id) , {}, { :class => 'form-control m-b' } %>
    <% else %>
    <%= registro.t_tipo_cliente.descripcion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%= form.label :descripcion, 'Descripci처n', class: "text-right opcional" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if defined?(editable) && editable %>
    <%= form.text_area :descripcion, autofocus: true, autocomplete: "descripcion", class: "form-control" %>
    <% else %>
    <%= registro.descripcion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <% if !defined?(ignorar_cliente) || !ignorar_cliente %>
  <div class="col-sm-2 col-form-label">
    <%= form.label :t_cliente_id, 'Cliente', class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if !defined?(editable) || editable %>
    <% if (!defined?(bloquear_cliente) || !bloquear_cliente) %>
    <%= form.select :t_cliente_id, opciones_de_clientes, {}, { :class => 'form-control m-b' } %>
    <% else %>
    <%= form.hidden_field :t_cliente_id %>
    <%= link_to registro.t_cliente do%>
    <%= registro.t_cliente.razon_social %>
    <% end %>
    <% end %>
    <% else %>
    <%= link_to registro.t_cliente do%>
    <%= registro.t_cliente.razon_social %>
    <% end %>
    <% end %>
  </div>
  <% end %>
  <% if defined?(editable) && !editable %>
  <div class="col-sm-2 col-form-label">
    <%= form.label :created_at, 'Fecha', class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <%= registro.created_at.strftime("%d/%m/%Y") %>
  </div>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    $("#t_resolucion_t_tipo_cliente_id").select2({
      ajax: {
        url: '<%= "#{get_type_client_path}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            tipo_persona: <%= registro.t_cliente == nil ? '$("#select-tipo-persona").val()'.html_safe  : "\"#{registro.t_cliente.tipo_persona_id}\"".html_safe %>
          }
          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(tipo_persona, i) {
              return { id: tipo_persona[1], text: tipo_persona[0] } 
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione'
    });
    $("#t_resolucion_t_tipo_cliente_id").trigger('change.select2');
    console.log("resoluciones!");
  });
</script>
<% end %>