<%= @data %>
<div class="ibox-content">
  <%= form_with(model: registro, local: true) do |form| %>  
  <%= render 't_resolucions/form_fields', registro: registro, editable: editable %>
  <div class="form-group row center-content">
    <% if defined?(return_to) %>
    <div class="col-sm-4 col-offset-sm-2">
      <%= link_to 'Volver', return_to	, {:class =>"btn btn-white btn-sm col-12"} %>
    </div>
    <% end %>
    <% if defined?(editable) && editable %>
    <div class="col-sm-4">
      <%= form.submit 'Guardar', :class => "btn btn-primary btn-sm col-12" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>