<% 
mostrar_cliente = true
registros =  nil
if defined?(del_cliente) && del_cliente != nil
  registros = del_cliente.t_resolucions 
  mostrar_cliente = false
elsif defined?(resoluciones) && resoluciones != nil
  registros = resoluciones 
end
%>
<div class="ibox-content">
  <%= render "shared/spiner_loading" %>
  <% if registros != nil && registros.count > 0 %>
  <div class="waiting-content table-responsive">
    <div class="col-12">
      <p class="text-info">Puedes hacer "click" en cualquier fila para ver el detalle del registro.</p>
    </div>
    <table class="table table-striped table-bordered table-hover dataTables clickable">
      <thead>
        <tr>
          <% if mostrar_cliente %>
          <th>Cliente</th>
          <% end %>
          <th>Resolución</th>
          <th>Descripción</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% registros.each do |registro| %>
        <tr data-link="<%= polymorphic_url(registro) %>">
          <% if mostrar_cliente %>
          <td><%= registro.t_cliente.razon_social %></td>
          <% end %>
          <td><%= registro.resolucion %></td>
          <td><%= registro.descripcion %></td>
          <td><%= registro.created_at.to_formatted_s(:short) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div>
    <p>No se encontraron registros.</p>
  </div>
  <% end %>
</div>