<p id="notice"><%= notice %></p>

<h1>T Resolucions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Fecha resolucion</th>
      <th>T cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_resolucions.each do |t_resolucion| %>
      <tr>
        <td><%= t_resolucion.descripcion %></td>
        <td><%= t_resolucion.fecha_resolucion %></td>
        <td><%= t_resolucion.t_cliente_id %></td>
        <td><%= link_to 'Show', t_resolucion %></td>
        <td><%= link_to 'Edit', edit_t_resolucion_path(t_resolucion) %></td>
        <td><%= link_to 'Destroy', t_resolucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Resolucion', new_t_resolucion_path %>
