<p id="notice"><%= notice %></p>

<h1>T Resolucions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Fecha resolucion</th>
      <th>T cliente</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @t_resolucions.each do |t_resolucion| %>
      <tr>
        <td><%= t_resolucion.descripcion %></td>
        <td><%= t_resolucion.fecha_resolucion %></td>
        <td><%= t_resolucion.t_cliente_id %></td>
        <td class="acciones">
          <%= link_to 'Ver', registro, class: "btn btn-white" %>
          <%= link_to 'Editar', edit_polymorphic_path(registro), class: "btn btn-white" %>
          <%= link_to 'Eliminar', registro, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-white" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Resolucion', new_t_resolucion_path %>
