<p id="notice"><%= notice %></p>

<h1>T Nota Creditos</h1>

<table>
  <thead>
    <tr>
      <th>T cliente</th>
      <th>T recibo</th>
      <th>Monto</th>
      <th>Usada</th>
      <th>Factura redimida</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_nota_creditos.each do |t_nota_credito| %>
      <tr>
        <td><%= t_nota_credito.t_cliente_id %></td>
        <td><%= t_nota_credito.t_recibo_id %></td>
        <td><%= t_nota_credito.monto %></td>
        <td><%= t_nota_credito.usada %></td>
        <td><%= t_nota_credito.factura_redimida %></td>
        <td><%= t_nota_credito.descripcion %></td>
        <td><%= link_to 'Show', t_nota_credito %></td>
        <td><%= link_to 'Edit', edit_t_nota_credito_path(t_nota_credito) %></td>
        <td><%= link_to 'Destroy', t_nota_credito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Nota Credito', new_t_nota_credito_path %>
