<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="25%">Estatus:</th>
      <td><%= @t_cliente.t_estatus.estatus if @t_cliente %></td>
    </tr>
    <tr>
      <th>Cliente:</th>
      <td>
        <%= @t_cliente.codigo if @t_cliente %>
      </td>
    </tr>
    <tr>
      <th>Empresa:</th>
      <td>
        <% if @t_cliente && @t_persona && @t_persona.t_empresa %>
          <%= @t_persona.t_empresa.rif %>
        <% else %>
          <%= @t_empresa.rif if @t_empresa %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Dirección:</th>
      <td><%= @t_persona.t_empresa.direccion_empresa if @t_persona && @t_persona.t_empresa %></td>
    </tr>
    <tr>
      <th>Telf.:</th>
      <td><%= @t_cliente.telefono if @t_cliente %></td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td><%= @t_cliente.email if @t_cliente %></td>
    </tr>
  </tbody>
</table>
