<table class="table table-bordered">
  <tbody>
    <tr>
      <th width="25%">Estatus:</th>
      <td><%= @t_cliente.t_estatus.estatus if @t_cliente %></td>
    </tr>
    <tr>
      <th>Cliente:</th>
      <td><%= '' %></td>
    </tr>
    <tr>
      <th>Empresa:</th>
      <td><%= '' %></td>
    </tr>
    <tr>
      <th>Dirección:</th>
      <td><%= '' %></td>
    </tr>
    <tr>
      <th>Telf.:</th>
      <td><%= @t_cliente.telefono if @t_cliente %></td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td><%= @t_cliente.email if @t_cliente %></td>
    </tr>
  </tbody>
</table>
