<div class="col-md-4">
  <b>Dirección:</b> <br>
  <b>Apartado Postal:</b> <br>
  <b>Teléfono:</b> <br>
  <b>Email:</b> 
</div>
<div class="col-md-4">
  <b>Para</b><br>
  <b>Cliente:</b> <%= @t_cliente[:rs] %><br>
  <b>Resolución:</b> <%= @t_cliente[:resolucion] %><br>
  <b>CIP / RUC:</b> <%= @t_cliente[:ide] %><br>
  <b>Teléfono:</b> <%= @t_cliente[:telefono] %><br>
  <b>Email:</b> <%= @t_cliente[:email] %> 
</div>
