<%= form_for @t_factura do |f| %>
  <fieldset <%= @is_show ? 'disabled="disabled"' : '' %>>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Datos del Cliente</h3>
            <%= render 'search_client', f: f %>
            <br>
            <div id="client-container">
              <%= render 'cliente' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Facturación</h3>
            <%= render 'factura', f: f %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h3>Detalle de Factura</h3>
                <br>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-xs" onclick="$('#add-service-link').click();">
                    Nuevo Servicio
                  </button>
                  <button type="button" class="btn btn-success btn-xs" onclick="addRecargoRow();">
                    Nuevo Recargo
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" onclick="deleteCheckedRows();">
                    Eliminar Filas Seleccionadas
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered" id="rate-table">
                  <thead>
                    <tr>
                      <th colspan="2" style="text-align: center;">Tarifa de la Resolución</th>
                      <th style="text-align: center;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Monto</td>
                      <td align="center" id="rate-amount" width="20%">0</td>
                      <td rowspan="2" id="total-rate" style="text-align: center; vertical-align: middle;">0</td>
                    </tr>
                    <tr>
                      <td>Recargo</td>
                      <td align="center" id="rate-surcharge">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr style="text-align: center;">
                  <th><i class="fa fa-window-close"></i></th>
                  <th>Servicio / Recargo</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Monto Total</th>
                </tr>
              </thead>
              <tbody id="factura-detalle-table">
                <%= f.fields_for :t_factura_detalles do |fd_form| %>
                  <%= render 't_factura_detalle_fields', f: fd_form %>
                <% end %>
                <tr style="display: none;">
                  <td>
                    <%= link_to_add_fields("Nuevo Servicio", f, :t_factura_detalles, true, style: 'display: none;', id: 'add-service-link', class: 'select2') %>
                  </td>
                </tr>
                <tr id="total-row" align="center">
                  <td></td>
                  <td width="25%"></td>
                  <td width="25%"></td>
                  <td id="total-quantity" width="20%"></td>
                  <td></td>
                  <td id="total" width="10%">0</td>
                </tr>
              </tbody>
            </table>
            <%= f.hidden_field :total_factura, id: 'input-total-factura', value: 0 %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <br>

  <div class="row">
    <div align="center" class="col-sm-12">
      <% unless @is_show %>
        <%= render "shared/action_buttons",
          list_route: t_facturas_path, list_text: "Facturas",
          # back_route: t_facturas_path, back_text: "Cancelar",
          save_form: true, save_text: "Guardar",
          button_size: "xs" %>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<script type="text/javascript">
  <%= render partial: "script.js" %>
</script>

<style type="text/css">
  #rate-table {
    margin-bottom: -20px;
  }

  #rate-table th, #rate-table td {
    padding: 5px !important;
    color: gray;
  }
</style>