<%= form_for @t_factura do |f| %>
  <fieldset <%= @is_show ? 'disabled="disabled"' : '' %>>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Datos del Cliente</h3>
            <%= render 'search_client', f: f %>
            <br>
            <div id="client-container">
              <%= render 'cliente' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Facturación</h3>
            <%= render 'factura', f: f %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3>Detalle de Factura</h3>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" onclick="$('#add-service-link').click();">
                Nuevo Servicio
              </button>
              <button type="button" class="btn btn-success" onclick="addRecargoRow();">
                Nuevo Recargo
              </button>
              <button type="button" class="btn btn-danger" onclick="deleteCheckedRows();">
                Eliminar Filas Seleccionadas
              </button>
            </div>
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr style="text-align: center;">
                  <th><i class="fa fa-window-close"></i></th>
                  <th>Servicio / Recargo</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Monto Total</th>
                </tr>
              </thead>
              <tbody id="factura-detalle-table">
                <%= f.fields_for :t_factura_detalles do |fd_form| %>
                  <%= render 't_factura_detalle_fields', f: fd_form %>
                <% end %>
                <tr style="display: none;">
                  <td>
                    <%= link_to_add_fields("Nuevo Servicio", f, :t_factura_detalles, true, style: 'display: none;', id: 'add-service-link', class: 'select2') %>
                  </td>
                </tr>
                <tr id="total-row" align="center">
                  <td></td>
                  <td width="25%"></td>
                  <td width="25%"></td>
                  <td id="total-quantity" width="20%"></td>
                  <td></td>
                  <td id="total" width="10%"></td>
                </tr>
              </tbody>
            </table>
            <%= f.hidden_field :total_factura, id: 'input-total-factura', value: 0 %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <br>

  <%#= render 'shared/form_buttons', f: f, object: @t_factura %>

  <div class="row">
    <div align="center" class="col-sm-12">
      <%= link_to 'Atrás', :back, class: 'btn btn-white col-2' %>
      <% unless @is_show %>
        <%#= link_to 'Crear Factura', preview_t_facturas_path, class: "btn btn-primary col-2" %>
        <%= f.submit yield(:texto_boton), class: "btn btn-primary col-2" %>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<script type="text/javascript">
  $(document).ready(function(){
    $('.select2').select2();
    $('.datepicker').datepicker({
      autoclose: true,
      format: "dd/mm/yyyy"
    });

    // Al asignar la cantidad, se actualiza la cantidad total, el subtotal y el total.
    $(document).on('keyup', '.quantity', function() {
      setTotal('#total-quantity', getTotal('.quantity'));
      setSubTotal(this);
      setTotal('#total', getTotal('.subtotal-cell'));
    });

    // Al asignar el precio, se actualiza el subtotal y el total.
    $(document).on('keyup', '.price', function() {
      setSubTotal(this, false);
      setTotal('#total', getTotal('.subtotal-cell'));
    });

    $("#select-codigo").select2({
      ajax: {
        url: '<%= "#{t_clientes_find_by_codigo_path}" %>',
        //url: '/t_clientes/find_by_codigo.json',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(t_cliente, i) {
              return { id: t_cliente.codigo, text: t_cliente.codigo } 
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione'
    });

    $("#select-resolucion").select2({
      ajax: {
        url: '<%= "#{t_clientes_find_by_resolucion_path}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(t_resolucion, i) {
              return { id: t_resolucion.resolucion, text: t_resolucion.resolucion } 
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione',
      minimumInputLength: 1
    });

    $("#select-razon_social").select2({
      ajax: {
        url: '<%= "#{t_clientes_find_by_razon_social_path}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(t_cliente, i) {
              return { id: t_cliente.razon_social, text: t_cliente.razon_social } 
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione'
    });

    $('.search-client').change(function() {
      $.ajax({
        url: '<%= "#{t_clientes_find_path}" %>',
        type: 'get',
        data: {
          attribute: $(this).attr('id'),
          search: $(this).val()
        }
      });
    });

    $(document).on('change', '.select-recargo', function(e) {
      // alert($(".select-recargo option:selected").data('value'));
      var surcharge = Number($(this).find("option:selected").data('value'));
      $(this).find("option:selected").parent().parent().siblings().each(function () {
        if ($(this).hasClass('price-cell')) {
          // alert($(this).children().first().val());
          let priceInput = $(this).children().first();
          priceInput.val(Number($('#total').text()) * surcharge);
          setSubTotal(priceInput, false);
          setTotal('#total', getTotal('.subtotal-cell'));
        }
      });
    });

    $(document).on('change', '.select-servicio', function(e) {
      var price = Number($(this).find("option:selected").data('value')),
          descripcion = $(this).find("option:selected").data('descripcion');
      $(this).find("option:selected").parent().parent().siblings().each(function () {
        if ($(this).hasClass('price-cell')) {
          // alert($(this).children().first().val());
          let priceInput = $(this).children().first();
          priceInput.val(price);
          setSubTotal(priceInput, false);
          setTotal('#total', getTotal('.subtotal-cell'));
        }

        if ($(this).hasClass('descripcion-cell')) {
          let descripcionInput = $(this).children().first();
          descripcionInput.val(descripcion)
        }
      });
    });

    $('form').submit(function(event) {
      event.preventDefault(); //this will prevent the default submit
      //alert($('#total').text());
      $('#input-total-factura').val(Number($('#total').text()));
      $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
    })
      // $.ajax({
      //   url: '<%#= "#{t_clientes_find_path}" %>',
      //   type: 'get',
      //   data: {
      //     attribute: $(this).attr('id'),
      //     search: $(this).val()
      //   }
      // });
    //});

    // $(document).on('keyup', '.select2-search__field', function (e) {
    //   //alert($(this).parent().attr('class'));
    // })
  });
</script>