<%= form_for @t_factura do |f| %>
  <fieldset <%= @is_show ? 'disabled="disabled"' : '' %>>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Datos del Cliente</h3>
            <%= render 'search_client', f: f %>
            <br>
            <div id="client-container">
              <%= render 'cliente' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Facturaci칩n</h3>
            <%= render 'factura', f: f %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h3>Detalle de Factura</h3>
                <br>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-xs" onclick="$('#add-service-link').click();">
                    Nuevo Servicio
                  </button>
                  <button type="button" class="btn btn-success btn-xs" id="add-recargo-row">
                    Nuevo Recargo
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" onclick="deleteCheckedRows();">
                    Eliminar Filas Seleccionadas
                  </button>
                </div>
                <div id="services-to-destroy"></div>
                <div id="surcharges-to-destroy"></div>
              </div>
              <div class="col-md-6">
                <!-- <table class="table table-bordered" id="rate-table">
                  <thead>
                    <tr>
                      <th colspan="2" style="text-align: center;">Tarifa de la Resoluci칩n</th>
                      <th style="text-align: center;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Monto</td>
                      <td align="center" id="rate-amount" width="20%">0</td>
                      <td rowspan="2" id="total-rate" style="text-align: center; vertical-align: middle;">0</td>
                    </tr>
                    <tr>
                      <td>Recargo</td>
                      <td align="center" id="rate-surcharge">0</td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr style="text-align: center;">
                  <th><i class="fa fa-window-close"></i></th>
                  <th>Servicio / Recargo</th>
                  <th>Descripci칩n</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Monto Total</th>
                </tr>
              </thead>
              <tbody id="factura-detalle-table">
                <%= f.fields_for :t_factura_detalles do |fd_form| %>
                  <%= render 't_factura_detalle_fields', f: fd_form %>
                <% end %>
                <tr style="display: none;">
                  <td>
                    <%= link_to_add_fields("Nuevo Servicio", f, :t_factura_detalles, true, style: 'display: none;', id: 'add-service-link', class: 'select2') %>
                  </td>
                </tr>
                <tr id="total-row" align="center">
                  <td></td>
                  <td width="25%"></td>
                  <td width="25%"></td>
                  <td id="total-quantity" width="20%"></td>
                  <td></td>
                  <td id="total" width="10%">0</td>
                </tr>
              </tbody>
            </table>
            <%= f.hidden_field :total_factura, id: 'input-total-factura', value: 0 %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <br>

  <div class="row">
    <div align="center" class="col-sm-12">
      <% unless @is_show %>
        <%= render "shared/action_buttons",
          list_route: t_facturas_path, list_text: "Facturas",
          # back_route: t_facturas_path, back_text: "Cancelar",
          save_form: true, save_text: "Guardar",
          button_size: "xs" %>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<script type="text/javascript">
  <%= render partial: "script.js" %>

  $(document).ready(function(){
    //var i = 1;

    // A침ade una fila a la tabla con un select que contiene una lista de los recargos
    function addRecargoRow() {
      $('#total-row').before(`
        <tr id="recargo${window.i}" style="background-color: #1C84C6;">
          <td><input class="deletable deletable-recargo" type="checkbox" name="deletable"></td>
          <td class="select-surcharge-cell">
            <select class="select-recargo" data-first_time="true" id="t_recargo${window.i}" name="t_factura[t_recargo_ids][]" style="width: 100%;">
              <option></option>
              <% TRecargo.all.each do |t_recargo| %>
                <option data-rate="<%= t_recargo.tasa %>" value="<%= t_recargo.id %>"><%= t_recargo.descripcion %></option>
              <% end %>
            </select>
            <input class="recargo-descripcion" name="dynamic_attributes[t_recargo][descripcions][]" type="hidden">
            <input class="recargo-id" name="dynamic_attributes[t_recargo][ids][]" type="hidden">
            <input class="t_recargo_ids" name="t_recargo_facturas_attributes[][id]" type="hidden">
          </td>
          <td class="descripcion-cell"></td>
          <td class="quantity-cell">
            <input class="quantity quantity-input only-numeric" data-quantity="1" name="t_recargo_facturas_attributes[][cantidad]" style="height: 28px; width: 100%;" type="text" value="1">
            <input class="recargo-quantity" name="dynamic_attributes[t_recargo][quantities][]" type="hidden" value="1">
          </td>
          <td class="price-cell">
            <input class="price recargo-input only-numeric" name="t_recargo_facturas_attributes[][precio_unitario]" style="height: 28px; width: 100%;" type="text">
            <input class="recargo-price" name="dynamic_attributes[t_recargo][prices][]" type="hidden">
          </td>
          <td class="surcharge-subtotal-cell" style="color: aqua; text-align: center;"></td>
        </tr>
      `);
      // $(`#t_recargo${i}`).append("<%#= escape_javascript(render('t_recargos/all_t_recargos_in_options')) %>");
      $(`#t_recargo${window.i}`).select2({ placeholder: 'Seleccione' });
      // $(`#t_recargo${i}`).select2({
      //   ajax: {
      //     url: '/t_recargos/find_by_descripcion',
      //     dataType: 'json',
      //     data: function (params) {
      //       var query = {
      //         search: params.term
      //       }

      //       return query;
      //     },
      //     processResults: function (data) {
      //       return {
      //         results: $.map(data, function(t_recargo, i) {
      //           return { id: t_recargo.id, text: t_recargo.descripcion, rate: t_recargo.tasa } 
      //         })
      //       };
      //     },
      //     delay: 250
      //   },
      //   placeholder: 'Seleccione'
      // });
      window.i++;
    }
    $('#add-recargo-row').click(function () {
      addRecargoRow();
    });
  });
</script>

<style type="text/css">
  #rate-table {
    margin-bottom: -20px;
  }

  #rate-table th, #rate-table td {
    padding: 5px !important;
    color: gray;
  }
</style>