<tr class="fields">
  <td><input class="deletable deletable-servicio" type="checkbox" name="deletable"></td>
  <td>
    <%= f.collection_select(:t_tarifa_servicio_id, TTarifaServicio.all, :id, :nombre, {include_blank: 'Seleccione Servicio'}, {class: 'select2 select2-dynamic', style: 'width: 100%'}) %>
  </td>
  <td>
    <%= f.text_field :cuenta_desc, style: 'width: 100%;' %>
  </td>
  <td class="quantity-cell">
    <%= f.number_field :cantidad, min: 0, step: 0.01, class: 'quantity', style: 'height: 28px; width: 100%;', value: 1 %>
  </td>
  <td class="price-cell">
    <%= f.number_field :precio_unitario, min: 0, step: 0.01, class: 'price', style: 'height: 28px; width: 100%;' %>
  </td>
  <td class="subtotal-cell" style="text-align: center;">
    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields 'Eliminar', f, true, class: 'destroy-service-link', style: 'display: none;' %>
  </td>
</tr>
