<div class="row">
  <div class="col-md-6">
    <%= image_tag "logoSMV.png", width: '200px' %>
  </div>
  <div align="right" class="col-md-6">
    <h5><b>Fecha de impresión:</b><%#= date %><%#= time %></h5>
  </div>
</div>

<div align="center" class="row">
  <div class="col-sm-12">
    <h3><b>REPÚBLICA DE PANAMÁ</b></h3>
    <h3><b>SUPERINTENDENCIA DEL MERCADO DE VALORES</b></h3>
    <h3><b>DEPARTAMENTO DE TESORERÍA</b></h3>
  </div>
</div>

<hr>

<div align="center" class="row">
  <div class="col-sm-12">
    <h3>FACTURA</h3>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <b>Dirección:</b> <%= @t_empresa.direccion_empresa if @t_empresa %><br>
    <b>Apartado Postal:</b> <%= '' %><br>
    <b>Teléfono:</b> <%= @t_empresa.telefono if @t_empresa %><br>
    <b>Email:</b> <%= @t_empresa.email if @t_empresa %>
  </div>
  <div class="col-md-4">
    <b>Para</b><br>
    <b>Cliente:</b> <%= "#{@t_persona.nombre} #{@t_persona.apellido}" if @t_persona %><br>
    <b>Resolución:</b> <%= @t_resolucion.resolucion %><br>
    <b>CIP / RUC:</b> <%= @t_persona.cedula if @t_persona %><br>
    <b>Teléfono:</b> <%= @t_cliente.telefono %><br>
    <b>Email:</b> <%= @t_cliente.email %><br>
  </div>
  <div class="col-md-4">
    <b>Factura:</b> <%= @t_factura.id %><br>
    <b>Estado:</b> <%= @t_estatus.estatus == 1 ? 'Activo' : 'Inactivo' %><br>
    <b>Importe debido:</b><br>
    <b>Fecha de vencimiento:</b> <%= @t_factura.fecha_vencimiento %><br>
    <b>Cuenta de venta:</b><br>
    <b>Periodo:</b> <%= @t_periodo.descripcion %>
  </div>
</div>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Ítem</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    <% @t_factura.t_factura_detalles.each do |fd| %>
      <tr>
        <td><%= fd.cantidad %></td>
        <td><%= fd.t_tarifa_servicio.nombre %></td>
        <td><%= fd.cuenta_desc %></td>
        <td><%= fd.precio_unitario %></td>
        <td><%= fd.precio_unitario * fd.cantidad %></td>
      </tr>
    <% end %>
    <tr>
      <td>1</td>
      <td><%= @t_tarifa.nombre %></td>
      <td><%= @t_tarifa.descripcion %></td>
      <td><%= @t_tarifa.monto %></td>
      <td><%= @t_tarifa.monto %></td>
    </tr>
    <% @t_factura.t_recargos.each do |r| %>
      <tr>
        <td></td>
        <td>Recargo</td>
        <td><%= r.descripcion %></td>
        <td><%= r.tasa %></td>
        <td><%= '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div align="justify" class="card-body card-header">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h2 style="margin-top: 0;">Importe Debido</h2>

    <table class="table">
      <tbody>
        <tr>
          <th>Subtotal:</th>
          <td></td>
        </tr>
        <tr>
          <th>Impuestos (0%):</th>
          <td></td>
        </tr>
        <tr>
          <th>Último(s) Pago(s):</th>
          <td></td>
        </tr>
        <tr>
          <th>Total:</th>
          <td><%= number_to_balboa(@t_factura.total_factura) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div align="center" class="col-sm-12">
    <%= link_to new_t_factura_path, class: 'btn btn-default' do %>
      <i class="fa fa-credit-card"></i>
      Crear Otra
    <% end %>
    <%= link_to edit_t_factura_path(@t_factura), class: 'btn btn-warning' do %>
      <i class="fa fa-edit"></i>
      Editar Factura
    <% end %>
    <%= link_to @t_factura, method: :delete, data: { confirm: '¿Está seguro de querer eliminar esta factura?' }, class: 'btn btn-danger' do %>
      <i class="fa fa-trash"></i>
      Eliminar Factura
    <% end %>
    <button type="button" class="btn btn-info"><i class="fa fa-envelope"></i> Enviar al Correo</button>
    
    <%= link_to "", t_factura_generar_pdf_path, target: "_blank", class: 'btn btn-primary' do %>
      <i class="fa fa-download"></i>
      Generar PDF
    <% end %>

    <%= link_to new_t_factura_t_recibo_path(@t_factura), class: 'btn btn-success' do %>
      <i class="fa fa-credit-card"></i>
      Realizar Recibo
    <% end %>
  </div>
</div>

<br>
