<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
  	<div class="col-lg-12">
    	<div class="ibox ">
      	<div class="ibox-title">
        	<h5>Datos de Usuario; <small>Secciòn para verificar los datos de usuario</small></h5>
        </div>
				<div class="ibox-title">
				    <img src="/img/user_icon.png" alt="Smiley face" height="15%" width="15%">
				</div>
        <div class="ibox-content">
        	<%= form_for [:admin, @user] do |f| %>
						<div class="row"><!-- Seccion de la derecha-->
							<div class="col-sm-6">
								<div class="form-group  row"><label class="col-sm-2 col-form-label">Nombre</label>
						    	<div class="col-sm-10">
						    		<%= text_field_tag 'nombre', @user.nombre,  class:"form-control" %>
						    	</div>
						    </div>
						    <div class="form-group row"><label class="col-sm-2 col-form-label">Apellido</label>
						    	<div class="col-sm-10">
						    		<%= text_field_tag 'apellido', @user.apellido,  class:"form-control" %>
						    	</div>
						    </div>
						    <div class="form-group row">
						    	<label class="col-sm-2 col-form-label">Activo</label>
						        <div class="col-sm-10">
						        	<%= text_field_tag 'estado', @user.estado ? 'Si' : 'No',  class:"form-control" %>
						        </div>
						    </div>
							</div>
							<div class="col-sm-6"><!-- Seccion de la izquierda-->
								<div class="form-group row">
						    	<label class="col-sm-2 col-form-label">Email</label>
						    	<div class="col-sm-10">
						    		<%= text_field_tag 'sesion', @user.email,  class:"form-control" %>
						    	</div>
						    </div>
								<div class="form-group row">
						    	<label class="col-sm-2 col-form-label">Password</label>
						    	<div class="col-sm-10">
										<% if @minimum_password_length %>
											<em>(<%= @minimum_password_length %> characters minimum)</em>
										<% end %>
										<%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
						    	</div>
						    </div>
						    <div class="form-group row">
						    	<label class="col-sm-2 col-form-label">Confirmar Password</label>
						    	<div class="col-sm-10">
										<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
						    	</div>
						    </div>

							</div>
						</div>
						<div class="form-group row">
					    <div class="col-sm-3 col-sm-offset-2">
					    	<%= link_to "Editar Usuario", edit_admin_user_path(@user.id), {:class=>"btn btn-white btn-sm col-12" }  %>
					    </div>
					    <div class="col-sm-3 col-sm-offset-2">
					    	<%= link_to 'Volver',admin_users_path	, {:class =>"btn btn-primary btn-sm col-12"} %>
					    </div>
				    </div>
					<% end %>
        </div>
      </div>
    </div>
	</div>
</div>
