<%= render template: 't_facturas/preview' %>

<hr>
<% if @is_show %>
  <h3 align="center">RECIBO</h3>
<% else %>
  <h3 align="center">RECIBOS</h3>
<% end %>
<hr>

<%= render 't_recibos' if !@is_show && @t_recibos.any? %>

<div class="ibox">
  <div class="ibox-content">
    <%= form_for [:t_factura, @t_recibo] do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :pago_recibido, 'Monto Pagado', class: "col-sm-4 col-form-label #{'opcional' if @is_show}" %>
            <div class="col-sm-7 input-value">
              <% unless @is_show %>
                <%= f.text_field :pago_recibido, class: "form-control", id: 'payment-received-input', min: 0, step: 0.01 %>
              <% else %>
                <%= @t_recibo.pago_recibido %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :pago_pendiente, 'Monto por Pagar', class: "col-sm-4 col-form-label #{'opcional' if @is_show}" %>
            <div class="col-sm-7 input-value">
              <% unless @is_show %>
                <%= f.text_field :pago_pendiente, class: "form-control", id: 'pending-payment-input', readonly: 'readonly', step: 0.01, value: @pending_payment %>
              <% else %>
                <%= @t_recibo.pago_pendiente %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :t_metodo_pago_id, 'Método de Pago', class: "col-sm-4 col-form-label #{'opcional' if @is_show}" %>
            <div class="col-sm-7 input-value">
              <% unless @is_show %>
                <%= f.select :t_metodo_pago_id, payment_method_options, {}, { class: "form-control", id: 'metodo-pago-select' } %>
              <% else %>
                <%= @t_recibo.t_metodo_pago.forma_pago %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :justificacion, 'Justificación', class: "col-sm-4 col-form-label opcional" %>
            <div class="col-sm-7 input-value">
              <% unless @is_show %>
                <%= f.text_field :justificacion, class: "form-control" %>
              <% else %>
                <%= @t_recibo.justificacion %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="num-cheque-container">
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :num_cheque, 'Número de Cheque', class: "col-sm-4 col-form-label opcional" %>
            <div class="col-sm-7 input-value">
              <% unless @is_show %>
                <%= f.text_field :num_cheque, class: "form-control", id: 'num-cheque' %>
              <% else %>
                <%= @t_recibo.num_cheque %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-sm-center">
        <div class="col-sm-2">
          <% if @is_show %>
            <%= render "shared/action_buttons",
              list_route: return_to, list_text: "Recibos",
              delete_route: t_factura_t_recibo_path(@t_factura, @t_recibo), delete_text: "Borrar",
              button_size: "xs"
            %>
          <% else %>
            <%= render "shared/action_buttons",
              list_route: t_factura_t_recibos_path(@t_factura), list_text: "Recibos",
              save_form: true,
              save_text: "Guardar" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#payment-received-input').keyup(function() {
      allowOnlyNumbers(this);

      calculatePendingPayment(
        Number(<%= @pending_payment %>),
        Number($(this).val()),
        $('#pending-payment-input')
      );
    });

    showOrHideCheckNumber('#metodo-pago-select');
    $('#metodo-pago-select').change(function () {
      showOrHideCheckNumber(this);
    });
  });
</script>
