<table class="table">
  <thead>
    <tr>
      <th>Fecha de Pago</th>
      <th>Método de Pago</th>
      <th># de Cheque</th>
      <th>Justificación</th>
      <th>Pagado</th>
      <th>Por Pagar</th>
      <th>Acreditado</th>
    </tr>
  </thead>
  <tbody>
    <% @t_recibos.each do |t_recibo| %>
      <tr>
        <td><%= t_recibo.fecha_pago %></td>
        <td><%= t_recibo.t_metodo_pago.forma_pago %></td>
        <td><%= t_recibo.num_cheque ? t_recibo.num_cheque : 'N/A' %></td>
        <td><%= t_recibo.justificacion %></td>
        <td><%= t_recibo.pago_recibido %></td>
        <td><%= t_recibo.pago_pendiente %></td>
        <td><%= t_recibo.monto_acreditado %></td>
      </tr>
    <% end %>
  </tbody>
</table>
