<div class="wrapper wrapper-content animated fadeInRight">
  <% subtitle = raw("
    <h3>
      COMPARATIVA DE INGRESOS POR TARIFAS Y CLIENTES
    </h3>
  ") %>
  <%= render 'report_header', filters: true, subtitle: subtitle %>

  <div class="row">
    <div class="col-lg-12">
      <% if TFactura.count > 0 %>
        <div class="table-responsive">
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover dataTables clickable" data-source="<%= comparativa_ingresos_t_recibos_path(format: :json) %>" id="ajax-datatable">
            <thead>
              <tr>
                <th>Nro. Recibo</th>
                <th>Fecha de Pago</th>
                <th>Detalle de Factura</th>
                <th>Servicio</th>
                <th>Descripcion del Servicio</th>
                <th>CÉD / PAS / RUC</th>
                <th>Razón Social</th>
                <th>Pago Recibido</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      <% else %>
        <div>
          <p>No se encontraron registros.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      autoclose: true,
      format: "dd/mm/yyyy"
    });

    $("#client-select").select2({
      ajax: {
        url: '<%= "#{t_clientes_all_clients_path}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(t_cliente, i) {
              return {
                id: t_cliente.id,
                text: `${t_cliente.ide} - ${t_cliente.rs}`
              }
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione Cliente',
      allowClear: true
    });

    $("#tariff-select").select2({
      ajax: {
        url: '<%= "#{all_services_t_tarifa_servicios_path}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            search: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(t_tarifa_servicio, i) {
              return {
                id: t_tarifa_servicio.id,
                text: `${t_tarifa_servicio.tipo ? t_tarifa_servicio.tipo : ''} - ${t_tarifa_servicio.codigo} - ${t_tarifa_servicio.nombre}`
              }
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione Servicio',
      allowClear: true
    });

    $.extend({
      useDataInAjaxCall: function (d) {
        d.t_cliente_id = $("#client-select").val();
        d.t_tarifa_servicio_id = $("#tariff-select").val();
      },
      useDataTableFooter: function (footer) {
        $.ajax({
          url: '<%= pago_recibido_total_t_recibos_path %>',
          contentType: "application/json",
          type: 'get',
          data: {
            from: $('#from').val(),
            to: $('#to').val()
          }
        })
        .done(function (data) {
          if (data.procesado) {
            footer.empty().append($("<tr />")
              .append($("<td />").html("<b>Total</b>"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />").html(data.total))
            )
          }
        });
      }
    });

    function refreshTable () {
      $("#ajax-datatable").DataTable().ajax.reload();
    }

    $('.datepicker').on('changeDate', function (e) {
      refreshTable();
    });

    $('#execute').click(function () {
      refreshTable();
    });
  });
</script>

<style type="text/css" media="print">
  @media print {
    #period-form-container {display:none;}
    #ajax-datatable_length {display:none;}
    #ajax-datatable_filter {display:none;}
    #ajax-datatable_paginate {display:none;}
  }
</style>
