<%
  tiene_resoluciones = defined?(registro) && registro.t_resolucions != nil && registro.t_resolucions.count > 0
  asociar_resolucion = editable && !tiene_resoluciones
  if asociar_resolucion || tiene_resoluciones
    resolucion = TResolucion.new
    resolucion.t_contacto = TContacto.new
    if @resolucion != nil
      resolucion = @resolucion
      if @contacto != nil
        resolucion.t_contacto = @contacto
      end
    end
  end
  
  resolucion.t_cliente = registro if resolucion != nil && registro.id != nil
  otro = TOtro.new
  if registro != nil && registro.persona.is_a?(TEmpresa)
    otro.t_tipo_persona_id = 1
  elsif registro != nil && registro.persona.is_a?(TPersona)
    otro.t_tipo_persona_id = 2
  elsif registro != nil && registro.persona != nil
    otro = registro.persona
  end

%>

<%= form_tag registro.id == nil ? url_for(:controller => 't_clientes', :action => 'create') : url_for(:controller => 't_clientes', :action => 'update', :id => registro.id), method: registro.id == nil ? :post : :put do %>
<div class="row justify-content-md-center">
  <div class="col-md-5">
    <div class="ibox">
      <div class="ibox-title">
        <%= yield %>
        <div class="row" style="position: absolute; right: 3em; top: 0.5em;">
          <%= fields_for registro do |form| %>
          <div class="col-form-label">
            <%= label_tag :es_prospecto, '¿Es Prospecto?', class: "text-right" %>
          </div>
          <div class="input-value" style="margin-left:0.5em; padding-left:0.5em;">
            <% if editable && registro.prospecto_at == nil %>
            <%= form.check_box :es_prospecto %>
            <% else %>
            <%= registro.es_prospecto ? "Si": "No" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="ibox-content">
        <%= render "shared/spiner_loading" %>
        <%= render 'form_fields', editable: editable, registro: registro %>
        <%= fields_for otro do |form| %>
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <%= form.label :t_tipo_persona_id, 'Tipo de Persona', class: "text-right" %>
          </div>
          <div class="col-sm-9 input-value">
            <% if editable %>
            <%= form.select :t_tipo_persona_id, opciones_de_tipos_de_personas , {}, { id: "select-tipo-persona", :class => 'form-control m-b' } %>
            <% else %>
            <%= otro.t_tipo_persona!=nil ? otro.t_tipo_persona.descripcion : "Indeterminado" %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="tipo_persona tipo_persona_form_fields hide">
          <%= render 'tipo_persona_form_fields', editable: editable, registro: registro.persona %>
        </div>
        <div class="tipo_persona tipo_empresa_form_fields hide">
          <%= render 't_empresas/form_fields', editable: editable, registro: registro.persona %>
        </div>
        <div class="tipo_persona tipo_otro_form_fields hide">
          <%= render 'tipo_otro_form_fields', editable: editable, registro: registro.persona %>
        </div>

        <div class="form-group row">
          <% if editable %>
          <%= render "shared/action_buttons",
            list_route: return_to, list_text: "Clientes",
            back_route: polymorphic_path(registro), back_text: "Cancelar",
            save_form: true, save_text: "Guardar",
            button_size: "xs"
          %>
          <% else %>
          <%= render "shared/action_buttons",
            list_route: return_to, list_text: "Clientes",
            edit_route: edit_polymorphic_path(registro), edit_text: "Editar",
            delete_route: polymorphic_path(registro), delete_text: "Borrar",
            button_size: "xs"
          %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="ibox_resoluciones" class="col-md-7<%= registro.es_prospecto ? " hide" : "" %>">
    <div class="col-md-12">
      <div class="ibox">
        <% if asociar_resolucion %>
        <div class="ibox-title">
          <h5>Resolución Asociada</h5>
          <div class="row" style="position: absolute; right: 3em; top: 0.5em;">
            <%= fields_for resolucion do |form| %>
            <div class="col-form-label">
              <%= label_tag :usar_cliente, '¿Usar cliente de contacto?', class: "text-right" %>
            </div>
            <div class="input-value" style="margin-left:0.5em; padding-left:0.5em;">
              <% if editable %>
              <%= form.check_box :usar_cliente %>
              <% else %>
              <%= resolucion.usar_cliente ? "Si": "No" %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <%= render 't_resolucions/form_fields', 
              editable: true,
              registro: resolucion,
              ignorar_cliente: resolucion.t_cliente == nil
        %>
        </div>
        <div id="info_contacto" class="<%= resolucion.usar_cliente ? " hide" : "" %>" style="margin-top: 0.5em;">
          <div class="ibox-title">
            <h5>Contacto de resolución</h5>
          </div>
          <div class="ibox-content">
            <%= render 't_contactos/form_fields', editable: editable, registro: resolucion.t_contacto %>
          </div>
        </div>
        <% else %>
        <div class="ibox-title">
          <h5>Resoluciones</h5>
          <% if editable %>
          <%= button_tag 'Añadir resolución', type: :button, class: "btn btn-primary float-right btn-xs", "data-toggle" => "modal", "data-target" =>"#agregar_resolucion" %>
          <% end %>
        </div>
        <%= render 't_resolucions/records', del_cliente: registro %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% if editable && resolucion != nil && tiene_resoluciones %>
  <%= form_tag url_for(:controller => 't_clientes', :action => 'nueva_resolucion', id: registro.id), method: :post do %>
  <div class="modal inmodal" id="agregar_resolucion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <h4 class="modal-title">Agregar resolución</h4>
          <small class="font-bold">Esta resolución se asociará a <span
              class="text-success text-uppercase font-bold"><%= registro.razon_social %></span>.</small>
          <div class="row" style="position: absolute; right: 3em; top: 6.5em;">
            <%= fields_for resolucion do |form| %>
            <div class="col-form-label">
              <%= label_tag :usar_cliente, '¿Usar cliente de contacto?', class: "text-right" %>
            </div>
            <div class="input-value" style="margin-left:0.5em; padding-left:0.5em;">
              <% if editable %>
              <%= form.check_box :usar_cliente %>
              <% else %>
              <%= registro.usar_cliente ? "Si": "No" %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="modal-body">
          <%= fields_for registro do |form| %>
          <%= form.hidden_field :id %>
          <% end %>
          <%= render 't_resolucions/form_fields', registro: resolucion, editable: editable %>
          <div id="info_contacto" class="<%= resolucion.usar_cliente ? " hide" : "" %>">
            <hr />
            <h3 class="text-center">Contacto de resolución</h3>
            <%= render 't_contactos/form_fields', editable: editable, registro: resolucion.t_contacto %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
          <button type="summit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <% end%>
  <% end%>
  <script>
  <%= render partial: "script.js" %>
  </script>