<%
  persona = TOtro.new
  if registro != nil && registro.is_a?(TOtro)
    persona = registro
  end
%>
<%= fields_for persona do |form| %>
<div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%= form.label :identificacion, "Identificación", class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if editable %>
    <%= form.text_field :identificacion, autofocus: true, autocomplete: "identificacion", class: "form-control" %>
    <% else %>
    <%= persona.identificacion %>
    <% end %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 col-form-label">
    <%= form.label :razon_social, "Razón Social", class: "text-right" %>
  </div>
  <div class="col-sm-9 input-value">
    <% if editable %>
    <%= form.text_field :razon_social, autofocus: true, autocomplete: "razon_social", class: "form-control" %>
    <% else %>
    <%= persona.razon_social %>
    <% end %>
  </div>
</div>
<div class="form-group row opcional-prospectos">
  <div class="col-sm-2 col-form-label">
    <%= form.label :telefono, "Teléfono", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.text_field :telefono, autofocus: true, autocomplete: "telefono", class: "form-control" %>
    <% else %>
    <%= persona.telefono %>
    <% end %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= form.label :email, "Email", class: "text-right" %>
  </div>
  <div class="col-sm-4 input-value">
    <% if editable %>
    <%= form.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <% else %>
    <%= persona.email %>
    <% end %>
  </div>
</div>
<% end %>