<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Datos del Cliente</h3>
        <%= render 't_facturas/search_client', hide_resolucion_filter: true %>
        <br>
        <div id="client-container">
          <%= render 't_facturas/cliente' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="ibox">
      <div class="ibox-title">
        <div class="row">
          <h3 class="col-sm-10">Facturas y Recibos Registrados</h3>
          <div class="col-sm-2 input-value">
            <button id="btn-refresh-table" class="btn btn-default"><i class="fa fa-refresh"></i></button>
            <button id="btn-paz-y-saldo" class="btn btn-default hide"><i class="fa fa-print"></i>Paz y Saldo</button>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables clickable"
            data-source="<%= estados_de_cuenta_path(format: :json) %>" id="ajax-datatable">
            <thead>
              <tr>
                <th>N° Factura</th>
                <th>Fecha</th>
                <th>F. Venc</th>
                <th>Recargo</th>
                <th>Total</th>
                <th>Pendiente</th>
                <th>Tp</th>
                <th>N° Recibo</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Saldo</th>
                <th>Usuario</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <%= render partial: "t_facturas/script.js" %>
  $(document).ready(function(){
    $.extend({
      useDataInAjaxCall: function (d) {
        d.t_cliente_codigo = $('#select-codigo').val();
      },
      useDataTableFooter: function (footer) {
        $.ajax({
          url: "<%= calculo_de_totales_path %>",
          data: {
            t_cliente_codigo: $('#select-codigo').val()
          }
        })
          .done(function (data) {
            if (data.procesado) {
              if (data.mostrar_paz_y_salvo) {
                $("#btn-paz-y-saldo").removeClass("hide")
              } else {
                $("#btn-paz-y-saldo").addClass("hide")
              }
              footer.empty().append($("<tr />")
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />").html("Total"))
                .append($("<td />").html(data.total))
                .append($("<td />").html(data.por_pagar))
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />").html(data.total_pago_recibido))
                .append($("<td />").html(data.total_monto_acreditado))
                .append($("<td />"))
                .append($("<td />"))
              )
            }
          });
      }
    });

    refreshTable = function () {
      $("#ajax-datatable").DataTable().ajax.reload();
    }

    $("#btn-refresh-table").click(refreshTable);
    $('#select-codigo').change(refreshTable);
  })
</script>