<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Datos del Cliente</h3>
        <%= render 't_facturas/search_client', hide_resolucion_filter: true %>
        <br>
        <div id="client-container">
          <%= render 't_facturas/cliente' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="ibox">
      <div class="ibox-title">
        <div class="row">
          <h3 class="col-sm-4">Facturas y Recibos Registrados</h3>
          <div class="col-md-1">
            <%= form_tag t_cliente_generar_pdf_path(@t_cliente, format:'pdf'), method: "get", target: "_blank" do %>
              <%= hidden_field_tag :client_code, '', :id => "cliente_code" %>
              <%= submit_tag("Generar Paz y Salvo", :id => "force_client_code", class: "fa fa-download btn btn-primary") %>
            <% end %>
          </div>
          <div class="col-sm-2 col-form-label">
            <%= label_tag("Resolución:", nil, class: "text-right") %>
          </div>
          <div class="col-sm-4 input-value">
            <%= select_tag(:option, options_for_select([], params[:option] ), id:"select-cliente-resolucion") %>
          </div>
          <div class="col-sm-1 input-value">
            <button id="btn-refresh-table" class="btn btn-default"><i class="fa fa-refresh"></i></button>  
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables clickable"
            data-source="<%= estados_de_cuenta_path(format: :json) %>" id="ajax-datatable">
            <thead>
              <tr>
                <th>N° Factura</th>
                <th>Fecha</th>
                <th>F. Venc</th>
                <th>Recargo</th>
                <th>Total</th>
                <th>Pendiente</th>
                <th>Tp</th>
                <th>N° Recibo</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Saldo</th>
                <th>Usuario</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <%= render partial: "t_facturas/script.js" %>
  $(document).ready(function(){
    $(document).on('click', '#force_client_code', function() {
      $('#cliente_code').val( $('#client-codigo-input').val() );
      window.location.reload();
    });
    $.extend({
      useDataInAjaxCall: function (d) {
        d.t_resolucion_id = $('#select-cliente-resolucion').val();
      },
      useDataTableFooter: function (footer) {
        $.ajax({
          url: "<%= calculo_de_totales_path %>",
          data: {
            t_resolucion_id: $('#select-cliente-resolucion').val()
          }
        })
          .done(function (data) {
            if (data.procesado) {
              footer.empty().append($("<tr />")
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />").html("Total"))
                .append($("<td />").html(data.total))
                .append($("<td />").html(data.por_pagar))
                .append($("<td />"))
                .append($("<td />"))
                .append($("<td />").html(data.total_pago_recibido))
                .append($("<td />").html(data.total_monto_acreditado))
                .append($("<td />"))
                .append($("<td />"))
              )
            }
          });
      }
    });

    $("#select-cliente-resolucion").select2({
      ajax: {
        url: '<%= "#{get_cliente_saldo_url}" %>',
        dataType: 'json',
        data: function (params) {
          var query = {
            t_cliente_id: $("#t_cliente_id").val()
          }
          return query;
        },
        processResults: function (data) {
          return {
            results: $.map(data, function(resolucion, i) {
              return { id: resolucion[1], text: resolucion[0] } 
            })
          };
        },
        delay: 250
      },
      placeholder: 'Seleccione'
    });

    refreshTable = function () {
      $("#ajax-datatable").DataTable().ajax.reload();
    }

    $("#btn-refresh-table").click(refreshTable);
    $('#select-codigo').change(refreshTable);
    $('#select-cliente-resolucion').change(refreshTable);
  
});


</script>