<!-- ####################### Side Bar ######################### -->
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <%= image_tag current_user.picture.small.url, class: "rounded-circle", width:"40%", heigth: "40%" %>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">
              <%= current_user.nombre ? current_user.nombre : '' %>
              <%= current_user.apellido ? current_user.apellido : '' %>
            </span>
            <% current_user.t_rols.each do |t_rol| %>
              <%= t_rol.nombre %><br>
            <% end %>
          </a>
        </div>
        <div class="logo-element">
          CxC
        </div>
      </li>
      <li>
        <a href="/">
          <i class="glyphicon glyphicon-th"></i>
          <span class="nav-label">
            Dashboard
          </span>
        </a>
      </li>

      <% if can?(:read, TFactura) || can?(:read, TCliente) || can?(:read, TRecibo) ||
        can?(:read, TResolucion) || can?(:read, TNotaCredito) %>
        <li>
          <a href="#">
            <i class="fa fa-file-text"></i>
            <span class="nav-label">
              Operación
            </span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <% if can? :read, TFactura %>
              <li><%= link_to 'Factura Manual', t_facturas_path %></li>
            <% end %>
            <% if can? :read, TCliente %>
              <li><%= link_to 'Clientes', t_clientes_path %></li>
            <% end %>
            <% if can? :read, TCliente %>
              <li><%= link_to 'Estados de cuenta', estados_de_cuenta_path %></li>
            <% end %>
            <% if can? :read, TRecibo %>
              <li><%= link_to 'Recibos', t_recibos_path %></li>
            <% end %>
            <% if can? :read, TNotaCredito %>
              <li><%= link_to 'Notas de Crédito', t_nota_creditos_path %></li>
            <% end %>
            <% if can? :read, TResolucion %>
              <li><%= link_to 'Resoluciones', t_resolucions_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if can?(:read, TTipoCliente) || can?(:read, TTipoClienteTipo) ||
        can?(:read, TTipoPersona) || can?(:read, TEstatus) || can?(:read, TEmpresa) ||
        can?(:read, TEmpresaTipoValor) || can?(:read, TEmpresaSectorEconomico) ||
        can?(:read, TConfFacAutomatica) || can?(:read, TRecargo) ||
        can?(:read, TPeriodo) || can?(:read, TTarifa) || can?(:read, TTarifaServicio) ||
        can?(:read, TLeyenda) || can?(:read, TTipoEmision) ||
        can?(:read, TMetodoPago) || can?(:read, TConfiguracionRecargoT) %>
        <li>
          <a href="#">
            <i class="fa fa-edit"></i>
            <span class="nav-label">
              Gestión
            </span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <% if can? :read, TTipoCliente %>
              <li><%= link_to 'Tipos de Clientes', t_tipo_clientes_path %></li>
            <% end %>
            <% if can? :read, TTipoClienteTipo %>
              <li><%= link_to 'Tipos de Clientes - Tipos', t_tipo_cliente_tipos_path %></li>
            <% end %>
            <% if can? :read, TTipoPersona %>
              <li><%= link_to 'Tipos de Personas', t_tipo_personas_path %></li>
            <% end %>
            <% if can? :read, TEstatus %>
              <li><%= link_to 'Estatus', t_estatuses_path %></li>
            <% end %>
            <% if can? :read, TEmpresa %>
              <li><%= link_to 'Empresas', t_empresas_path %></li>
            <% end %>
            <% if can? :read, TEmpresaTipoValor %>
              <li><%= link_to 'Empresas - Tipos de Instrumento', t_empresa_tipo_valors_path %></li>
            <% end %>
            <% if can? :read, TEmpresaSectorEconomico %>
              <li><%= link_to 'Empresas - Sectores económicos', t_empresa_sector_economicos_path %></li>
            <% end %>
            <% if can? :read, TConfFacAutomatica %>
              <li><%= link_to 'Factura Automática', t_conf_fac_automaticas_path %></li>
            <% end %>
            <% if can? :read, TRecargo %>
              <li><%= link_to 'Recargos', t_recargos_path %></li>
            <% end %>
            <% if can? :read, TPeriodo %>
              <li><%= link_to 'Periodos', t_periodos_path %></li>
            <% end %>
            <% if can? :read, TTarifa %>
              <li><%= link_to 'Tarifas', t_tarifas_path %></li>
            <% end %>
            <% if can? :read, TTarifaServicio %>
              <li><%= link_to 'Servicios', t_tarifa_servicios_path %></li>
            <% end %>
            <% if can? :read, TLeyenda %>
              <li><%= link_to 'Leyendas de Facturas', t_leyendas_path %></li>
            <% end %>
            <% if can? :read, TTipoEmision %>
              <li><%= link_to 'Tipos de emisión', t_tipo_emisions_path %></li>
            <% end %>
            <% if can? :read, TMetodoPago %>
              <li><%= link_to 'Métodos de Pago', t_metodo_pagos_path %></li>
            <% end %>
            <% if TConfiguracionRecargoT.any? %>
              <% if can? :read, TConfiguracionRecargoT %>
                <li><%= link_to 'Configuración de Recargo a Servicios TS', TConfiguracionRecargoT.take %>
              <% end %>
            <% else %>
              <% if can? :create, TConfiguracionRecargoT %>
                <li><%= link_to 'Configuración de Recargo a Servicios TS', new_t_configuracion_recargo_t_path %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if (can? :read, User ) || (can? :read, TRol) %>
        <li>
          <a href="#">
            <i class="glyphicon glyphicon-lock"></i>
            <span class="nav-label">
              Acceso
            </span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <% if can? :read, User %>
              <li><%= link_to 'Usuarios', admin_users_path %></li>
            <% end %>
            <% if can? :read, TRol %>
              <li><%= link_to 'Roles de Usuario', t_rols_path %></li>
            <% end %>
            <% if can? :read, TModulo %>
              <li><%= link_to 'Módulos de Rol', t_modulos_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if can?(:read_reports, TFactura) || can?(:read_reports, TRecibo) || can?(:read_reports, TCliente) ||
        can?(:read_reports, TTipoCliente) || can?(:read_reports, TTarifaServicio) %>
        <li>
          <a href="#">
            <i class="fa fa-bar-chart"></i>
            <span class="nav-label">
              Reportes
            </span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <% if can? :read_reports, TRecibo %>
              <li><%= link_to 'Caja', t_caja_index_path %></li>
              <li><%= link_to 'Comparativa de Ingresos por Tarifas y Clientes', comparativa_ingresos_t_recibos_path %></li>
              <li><%= link_to 'Comparativa de Ingresos por Tarifas y Clientes 2', comparativa_ingresos_no_datatables_t_recibos_path %></li>
            <% end %>
            <% if can? :read_reports, TCliente %>
              <li><%= link_to 'Trámites de Clientes Registrados', tramites_t_clientes_path %></li>
            <% end %>
            <% if can? :read_reports, TTipoCliente %>
              <li><%= link_to 'Informe de Tipos de Cliente', informe_t_tipo_clientes_path %></li>
            <% end %>
            <% if can? :read_reports, TTarifaServicio %>
              <li><%= link_to 'Trámites de Tarifas Registradas', tramites_t_tarifa_servicios_path %></li>
            <% end %>
            <% if can? :read_reports, TFactura %>
              <li><%= link_to 'Facturas Pagadas', pagadas_t_facturas_path %></li>
              <li><%= link_to 'Informe de Recaudación', informe_recaudacion_t_facturas_path %></li>
              <li><%= link_to 'Informe Consolidado de Ingresos Diarios', informe_ingresos_diarios_t_facturas_path %></li>
              <li><%= link_to 'Informe de Presupuesto por Cuenta Diario', informe_ingresos_presupuesto_t_facturas_path %></li>
              <li><%= link_to 'Informe por Grupo de Regulado', informe_cuentas_x_cobrar_t_facturas_path %></li>
              <li><%= link_to 'Informe Presupuestario', informe_presupuestario_t_facturas_path %></li>
              <li><%= link_to 'Informe por Tipos de Ingreso', informe_por_tipos_de_ingreso_t_facturas_path %></li>
              <li><%= link_to 'Estado de Cuenta', estado_de_cuenta_t_facturas_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<!-- ####################### Side Bar ######################### -->
