<div id="wrapper">

  <%= render "layouts/navbarside" %>

  <div id="page-wrapper" class="gray-bg">

      <div class="row border-bottom">
        <%= render "layouts/navbartop" %>
      </div>

      <div class="wrapper wrapper-content">
        <%= render "layouts/notify" %>
        <%= yield %>
      </div>

      <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/navbarmenu" %>

</div>

<%= render "layouts/scriptsection" %>
