<div id="wrapper">

  <%= render "layouts/navbarside" %>

  <div id="page-wrapper" class="gray-bg">

      <div class="row border-bottom">
        <%= render "layouts/navbartop" %>
      </div>

      <div class="wrapper wrapper-content">
        <% if current_user.estado %>
          <%= yield %>
        <% else %>
          <div class="alert alert-danger">
            <center>
              <h1>Usuario Inactivo</h1>
              <p>No podra realizar ningun tipo de actividad en el sistema</p>
            </center>
          </div>
        <% end %>
      </div>

      <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/navbarmenu" %>

</div>

<%= render "layouts/scriptsection" %>
