<!DOCTYPE html>
<html>
  <head>
    <title>Sistema CxC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @no_cache %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <% if user_signed_in? %>
  <body>
    <%= render "layouts/principalbody" %>
  <%else%>
  <body class="gray-bg">
    <script>
      $.extend({
        useDataInAjaxCall: null,
        useDataTableFooter: null
      });
    </script>
    <%= yield %>
    <%= render "layouts/scriptsection" %>
  <%end%>


  </body>
</html>
